body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-sign .form-sigin-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}

.form-sign .checkbox {
  font-weight: normal;
}

.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-sign .form-control:focus {
  z-index: 2;
}

.form-sign input[type="username"] {
  margin-bottom: -1px;
  border-bottom-rigth-radius: 0;
  border-botton-left-radius: 0;
}

.form-sign input[type="password"] {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-sign button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-sign .error {
  color: red;
  font-weight: bold;
}

.form-sign p {
  text-align: center;
}
